@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}
  
.title {
  font-size: 4.4rem;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgb(229, 9, 20);
}